*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}
section{
				position: relative;
				width: 100vw;
				min-height: 100vh;
				background-image:         linear-gradient(45deg,#ff009d,#af15ff);
				display : flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
}
/* here is a main structure for card*/
section .cardBx{
				position: relative;
				width: 300px;
				height: 400px;
				border: 1px solid #fffc6a;
				border-radius: 12px;
				backbackground: #000;
				margin: 10px 20px;
				border-radius: 12px;
				overflow: hidden;
				box-shadow: 20px 0 120px #460c20;
				transition: 2s lineare;
				background: #fff;
				/* transform: scale(1.8); */
}
section .cardBx:nth-child(2){
				transform: scale();
}
section .cardBx:hover{
				transform: scale(1.2);
				transition: 1s;
}
section .cardBx:hover .imgBx{
			height: 150px;
			transition: 1.2s;
			overflow : hidden;
}
section .cardBx .imgBx{
				position : absolute;
				width: 100%;
				height : 100%;
				top: 0;
				left: 0;
				background: #304960;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #dccaca;
				font-size: 5em;
				z-index: 100;
} 
section .cardBx .contentBx{
				position : relative;
				width: 100%;
				height : 100%;
				top: 30%;
				left: 0;
				padding: 50px;
				background: #eaeaff;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				color: #ff1f00;
				flex-direction: column;
}
section .cardBx .contentBx p{
    width: 100%;
    height: 100%;
    position: relative;
				font-weight: 300;
				font-family: sans-serif;
				words-spacing: 1px;
				margin: 10px 20px;
				flex-direction: wrap;
}
section .cardBx .contentBx button{
				position: relative;
				width: 250px;
				height: 35px;
				background: #ff4069;
				color: #fff;
				outline: none;
				border: none;
				text-align: center;
				border-radius: 8px;
				box-shadow: 0 0 22px rgba(0,0,0,0.5);
				cursor: pointer;
				margin-bottom: 120px;
}

